
#textTranslation {

}

#displayWord {

}

#introPane {
    -fx-background-image: url("Icon/IntroBackground.jpg");
}

.btn {
    -fx-background-color: #023b6d;
}

.btn:hover {
    -fx-background-color: #307aa7;
}

#txtFieldSearch {
    -fx-background-color: #EFF3F6;
}

#btnSearch {

}

#btnVoice {

}

#btnSetting {

}

#btnStar:hover {
    -fx-background-color: red;
}

#btnSound {

}

#topApp {
    -fx-background-color: #023b6d;
}

#settingScene {
    -fx-background-image: url("Icon/SettingBackground.jpg");
}

.text-area {
    -fx-background-color: white;

    /* Shadow effect */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 5.0, 5.0);
}
.text-area .content {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.text-area:focused .content {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}